<a href="/posts/new"><li>Create a New Post</li></a>
<li id="logout">
	<form action="/sessions" method="post">
		<input type="hidden" name="_method" value="delete">
		<input class ="nav" type="submit" value="Logout">
	</form>
</li>