<h1>Create an Account:</h1>
<div class="form">
	<form class="user" action="/users" method="post">
		<div class="form_block">
			<label for="username">Username</label>
			<input type="text" name="username">
		</div>
		<div class="form_block">
			<label for="password">Password</label>
			<input type="password" name="password">
		</div>
		<input class="button" type="submit" value="Register">
	</form>
</div>