<h1>Write your post!</h1>
<form class="create" action="/posts" method="post">
	<input type="text" name="post[title]" placeholder="Title">
	<textarea name="post[body]" cols="30" rows="10" placeholder="Enter your story..."></textarea>
	<input class = "button" type="submit" value="Submit Post">
</form>